<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>
  <h1>Hola Edu !!!</h1>
  <h2>Base model data</h2>
  <div contenteditable="True">
    {{ base_model|safe }}
  </div>
  <h2>Initiative model data</h2>
  <div contenteditable="True">
    {{ initiative_model|safe }}
  </div>
  <br>
  <div>
    <canvas id="line-plot" width="1000" height="500"></canvas>
  </div>


  <script>
    
    var tableInitiativeArr = [];

    function updateTableInitiativeArr() {
      var tableInitiative = document.querySelector('#initiative_model_data').getElementsByTagName('td');
      for (var i = 0; i < tableInitiative.length; i++){
        tableInitiativeArr.push(tableInitiative[i].innerHTML)
      };
      console.log(tableInitiativeArr);
    };

    updateTableInitiativeArr();
    document.querySelectorAll('#initiative_model_data td').forEach(e => e.addEventListener("click", function() {
    // Here, `this` refers to the element the event was hooked on
    updateTableInitiativeArr();
    }));
    

    function addData(chart, newData, datasetIndex) {
      chart.data.datasets[datasetIndex].data = newData;
      chart.update();
    };



    var configLinePlot = {
      type: 'line',
      fill: false,
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: ['rgba(255, 99, 132, 0.2)'],
          label: 'Base model',
          },{
          data: tableInitiativeArr,
          backgroundColor: ['rgba(54, 162, 235, 0.2)'],
          label: 'Initiative model'
          }
        ],
      labels: {{ labels|safe }}
      },
      options: {
        legend:{
          display: true,
        },
        responsive: false
      }
    };

    let contextLinePlot = document.getElementById('line-plot').getContext('2d');

    var linePlot = new Chart(contextLinePlot, configLinePlot);

    
    
  </script>
</body>
</html>